<!DOCTYPE html>
<html>

<head>
<title>Dashboard - MoreKnowledge Academy</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>My Bookings</h1>

<h2>Welcome to your dashboard</h2>

<a href="/tutors"><button>Find Tutors</button></a>
<a href="/booking"><button>My Bookings</button></a>

<div id="bookingContainer"></div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

<button onclick="logout()">Logout</button>

</body>

</html>
